#dialog p {
	margin: 0 0 12px;
	height: 24px;
	line-height: 24px;
	background: #CCCCCC;
}

#maintext {
	font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
	font-family: tahoma, arial, ו;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: red;
	margin:5px 0 15px 0; 
	height:65px;
	padding:0;
}

.error{
	margin-left:20px;
	color:red;
	display:none;
}